# Google Sheets
NUXT_PUBLIC_REGISTRY_SHEET_ID=
NUXT_REGISTRYSHEETID=
NUXT_GOOGLE_SHEET_ID=

# Google Gemini AI
NUXT_GEMINI_API_KEY=
NUXT_GEMINI_MODEL=gemini-2.0-flash

# Cloudinary
NUXT_CLOUDINARY_NAME=
NUXT_CLOUDINARY_API_KEY=
NUXT_CLOUDINARY_API_SECRET=


